.container{
    padding: 1%;
    width: 45em;
    height: 45em;
    margin: 3px;
}

.c1,.c3{
    display: flex;
    width: 100%;
    height: 40%;
}

.c2{
    display: flex;
    width: 100%;
    height: 20%;
}

.r1c1,.r1c3,.r3c1,.r3c3{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.r1c2,.r3c2{
    display: flex;
    height: 100%;
    width: 20%;
    border: 1px solid rgba(128, 128, 128,0.7);
    flex-wrap: wrap;
}

.r2c1,.r2c3{
    display: flex;
    width: 40%;
    height: 100%;
    border: 1px solid rgba(128, 128, 128,0.7);
    flex-wrap: wrap;
}

.r2c2{
    display: flex;
    width: 20%;
    height: 100%;
    flex-wrap: wrap;
    background-color: rgba(0, 255, 255, 0.47);
}

.r1c1{
    background-color: rgba(255, 0, 0, 0.8);
}

.r1c3{
    background-color: rgba(0, 68, 255, 0.9);
}

.r3c1{
    background-color: rgb(38, 209, 0);
}

.r3c3{
    background-color: rgb(255, 217, 0);
}

.in{
    display: flex;
    width: 75%;
    height: 75%;
    background-color: whitesmoke;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.green{
    background-color: rgb(38, 209, 0);
    border-radius: 5px;
    width: 30%;
    height: 30%;
    margin:8%;
}

.red{
    background-color: rgba(255, 0, 0, 0.8);
    border-radius: 5px;
    width: 30%;
    height: 30%;
    margin:8%;
}

.blue{
    background-color: rgba(0, 68, 255, 0.9);
    border-radius: 5px;
    width: 30%;
    height: 30%;
    margin:8%;
}

.yellow{
    background-color: rgb(255, 217, 0);
    border-radius: 5px;
    width: 30%;
    height: 30%;
    margin:8%;
}

.r1c2 div{
    width: 31.946%;
    height:16%;
    border: 1px solid rgba(128, 128, 128,0.7);
}

.blue1{
    background-color: rgba(0, 68, 255, 0.9);
}
.red1{
    background-color: rgba(255, 0, 0, 0.8);
}
.green1{
    background-color: rgb(38, 209, 0);
}
.yellow1{
    background-color: rgb(255, 217, 0);
}

.r2c1 div{
    width: 15.97%;
    height:31.92%;
    border: 1px solid rgba(128, 128, 128,0.7);
}

.r2c3 div{
    width: 15.97%;
    height:31.92%;
    border: 1px solid rgba(128, 128, 128,0.7);
}

.r3c2 div{
    width: 31.946%;
    height:15.92%;
    border: 1px solid rgba(128, 128, 128,0.7);
}

.image img{
    width:45px;
    margin:auto;
}